# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
LibZ/doc/
*.tlog
LibZ/ReleaseStatic/
LibZ/ReleaseStaticMT/
LibZ/ReleaseMT/
*.pdb
*.exp
*.ilk
*.res
LibZ/Debug/
LibZ/DebugStatic/
*.suo
LibZ/DebugMT/
LibZ/DebugStaticMT/
*.sdf
*.user
LibZ/src/RCa03948
*.opensdf
LibBzip2/doc/
LibBzip2/Debug/
*.idb
